/* Add these styles to your CSS or use Styled Components */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background: #fff;
  width: 40vw;
  min-height: 40vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.modal-close-icon {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: var(--gray);
}

.modal-close-icon:hover {
  color: var(--dark-green);
  transform: scale(1.2);
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  justify-self: flex-start;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-section {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.modal-section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.modal-section p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
  text-align: center;
}

.modal-section a {
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.modal-section a:hover {
  color: var(--gray);
}

.modal-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.legend-item-color {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.legend-item-text {
  font-size: 1.2rem;
  font-weight: 500;
}
