.overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 20px;
  width: 100%;
  height: 100%;
}


.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview-section-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.overview-table {
  width: 80%;
}

.student-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 40vh;
}
