:root {
  --bayern-blue: #0098d4;
  --dark-blue: #122566;
  --white: #fff;
  --black: #000;
  --dark-gray: #333;
  --darker-gray: #222;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

.App {
  background-color: var(--white);
  min-height: 100vh;
  width: 100vw;
}

.content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 10px;
  border: 1px solid var(--dark-blue);
  text-align: center;
}

.info-table td {
  padding: 10px;
  border: 1px solid var(--dark-blue);
  text-align: center;
}

@media screen and (min-width: 992px) {
  .content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13vh;
  }
}
